body {
  font-family: sans-serif;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.main {
  width: 600px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#quote {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: monospace; 
  white-space: pre-wrap;
}

.correct {
  color:green;
}

.incorrect {
  color:red;
}

.active {
  border-left: 2px solid transparent;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  0%, 49% {border-color: black;}
  50%, 100% {border-color: transparent}
}

#result {
  margin-top: 20px;
  font-weight: bold;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 3rem;
    height: 100%;
    margin: 20px;
    font-weight: bold;
}